@import './mq';
@import '../setting/config';

@mixin btn {
    font-size: 1.4rem;
    font-weight: 700;
    height: 37px;
    line-height: 37px;
    color: #fff;
    padding: 0 3.6rem;
    background: linear-gradient(to right, $color-accent, $color-accent2);
    border-radius: 10px;
    font-family: $font-family-default;
    display: inline-block;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}