// footer

.footer {
    text-align: center;

    &-inner {
        @include inner;
        padding-top: 5rem;
        padding-bottom: 5rem;

        @include mq(sp) {
            padding-top: 3rem;
            padding-bottom: 3rem;
        }
    }

    &-title {
        font-size: 2.4rem;
        font-weight: 700;
        margin-bottom: 3rem;

        @include mq(sp) {
            font-size: 2rem;
        }
    }

    &-list {
        display: flex;
        justify-content: center;
        margin-bottom: 6rem;

        @include mq(sp) {
            margin-bottom: 4rem;
        }
    }

    &-item {
        + .footer-item {
            margin-left: 3rem;

            @include mq(sp) {
                margin-left: 2rem;
            }
        }

        a {
            color: $color-text;
            font-weight: 700;

            @include mq(sp) {
                font-size: 1.4rem;
            }
        }
    }

    &-copyright {
        font-size: 1.4rem;
    }
    
}